Task 1

In [2]:
points = 174

if points <= 50:
    result = "Congrats wooden rabbit!"
elif points <= 150:
    result = "No prize ):"
elif points <= 180:
    result = "Congrats! You won a wafer-thin mint!"
else:
    result = "Congrats! You won a penguin!"

print(result)

Congrats! You won a wafer-thin mint!

Task 2

In [3]:
# Assuming 'answer' contains the number you are hiding and 'guess' contains the user's input

answer = 42  # You can replace this with any number you want to hide

# Get the user's guess as input
guess = int(input("Take a guess: "))

# Compare the user's guess to the answer
if guess < answer:
    print("Your guess was too low.")
elif guess > answer:
    print("Your guess was too high.")
else:
    print("Congratulations! You guessed the correct number!")

Take a guess: 5
Your guess was too low.

Task 3

In [4]:
def calculate_tax(state, amount):
    # Dictionary to store the tax rates for each state
    tax_rates = {
        'CA': 0.075,
        'MN': 0.095,
        'NY': 0.089
    }

    # Check if the provided state exists in the tax_rates dictionary
    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = amount * tax_rate
        total_amount = amount + tax_amount
        return total_amount
    else:
        raise ValueError("Invalid state. Tax rate for the provided state is not available.")

# Example usage:
state = input("Enter your state (CA, MN, or NY): ")
amount = float(input("Enter the purchase amount: "))

try:
    total_amount_with_tax = calculate_tax(state, amount)
    print(f"Total amount with tax: ${total_amount_with_tax:.2f}")
except ValueError as e:
    print(str(e))

Enter your state (CA, MN, or NY): 3
Enter the purchase amount: 34
Invalid state. Tax rate for the provided state is not available.

Task 4

In [5]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

# Using a for loop to print each element of the list on its own line
for word in sentence:
    print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

Task 5

In [6]:
# Using a for loop to print multiples of 5 less than or equal to 30
for number in range(5, 31, 5):
    print(number)

5
10
15
20
25
30

Task 6

In [7]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

# Using list comprehension to extract the first names in lowercase
first_names = [name.split()[0].lower() for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

task 7

In [8]:
# Using list comprehension to create a list of the first 20 multiples of 3
multiples_3 = [num * 3 for num in range(1, 21)]

print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

Task 8

In [9]:
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

# Using list comprehension to filter names of individuals who scored at least 65
passed = [name for name, score in scores.items() if score >= 65]

print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

Task 9

In [10]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

# Using zip() to create the dictionary 'cast'
cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

Task 10

In [11]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# Using enumerate() and a for loop to modify the 'cast' list
for index, name in enumerate(cast):
    height = heights[index]
    cast[index] = f"{name}{height}"

print(cast)

['Barney Stinson72', 'Robin Scherbatsky68', 'Ted Mosby72', 'Lily Aldrin66', 'Marshall Eriksen76']