In [1]:
#Task#1

# Write two lines of code below, each assigning a value to a variable
# Now write a print statement using .format() to print out a sentence and the values of both of the variables

# Assign values to variables
variable1 = 5085
variable2 = "My, world!"

# Print the sentence and the values of both variables
print("The value of variable1 is {} and the value of variable2 is {}.".format(variable1, variable2))

The value of variable1 is 5085 and the value of variable2 is My, world!.

In [2]:
#Task#2

# Browse the complete list of string methods at: https://docs.python.org/3/library/stdtypes.html#string-methods and try them out here


#str.endswith(suffix): Returns True if the string ends with the specified suffix, otherwise False.
text = "my, world!"
print(text.endswith("World!"))  # Output: True
print(text.endswith("Hello"))   # Output: False

#str.split(separator): Splits the string into a list of substrings using the separator.
text1 = "apple,banana,orange"
fruits = text1.split(",")
print(fruits)  # Output: ['apple', 'banana', 'orange']

#str.join(iterable): Concatenates elements of an iterable (e.g., list) into a single string using str as the separator.
fruits = ['apple', 'banana', 'orange']
text2 = "-".join(fruits)
print(text2)  # Output: "apple-banana-orange"

#str.lower(): Returns a copy of the string with all characters in lowercase.
text3 = "Hello, World!"
print(text3.lower())  # Output: "hello, world!"

False
False
['apple', 'banana', 'orange']
apple-banana-orange
hello, world!

In [3]:
#Task#03

# List IndexingUse list indexing to determine how many days are in a particular month based on the integer variablemonth, and store that value in the integer variablenum_days. For example, if monthis 8,num_days should be set to 31, since the eighth month, August, has 31 days.Remember to account for zero-based indexing!


# Assume month is an integer variable representing the month (1 for January, 2 for February, and so on)
month = 5

# List to store the number of days in each month (index 0 will not be used)
days_in_month = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

# Adjust month value for zero-based indexing
adjusted_month = month - 1

# Get the number of days for the given month
num_days = days_in_month[adjusted_month]

print(num_days)

30

In [4]:
#Task#04

#Select the three most recent dates from this list using list slicing notation. Hint: negative indexes work in slices!

eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003', 'March 29, 2006', 'August 1, 2008', 'July 22, 2009', 'July 11, 2010', 'November 13, 2012', 'March 20, 2015', 'March 9, 2016']

# Select the three most recent dates using list slicing with negative indices
recent_dates = eclipse_dates[-3:]

# Print the three most recent dates
print(recent_dates)

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [5]:
#Task#05

#Store studentâ€™s data using nested dictionary.
# Create a nested dictionary to store student data
students = {
    'student1': {
        'name': 'Ali',
        'age': 20,
        'grade': 'A'
    },
    'student2': {
        'name': 'Malik',
        'age': 19,
        'grade': 'B'
    },
    'student3': {
        'name': 'Bhutto',
        'age': 21,
        'grade': 'A+'
    }
}

# Access and print student data
print(students['student1']['name'])
print(students['student2']['age'])
print(students['student3']['grade'])

Ali
19
A+